@model IEnumerable<Projet_hespel_bryan.DTO.ArticleDTO>
@{
    ViewBag.Title = "Articlesconstru";
}

<h2>Articlesconstru</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.prix)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {



        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.prix)
            </td>


        </tr>

    }
</table>
