@model Projet_hespel_bryan.Models.Constructeur

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Constructeur</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.constructeurID }) |
    @Html.ActionLink("Retour à la Liste", "Index")
</p>
