@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
  
    <abbr title="Phone">Téléphone:</abbr>
    0471/54.10.14
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">bryan.hespel@condorcet.be</a><br />
</address>