@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    @if (@Session["Nom"] == null)
    {
        <text>
            <h1>Bienvenue sur Ibay</h1></text>
    }
    else
    {
        <text>
            <h1>Bonjour @Session["Nom"] @Session["Prenom"]</h1></text>
    }


</div>

